<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<section class="Serveys">
  <div class="head">
    <h1>BookLet</h1>
  </div>
  <div class='bar'>


<div class="messageBox">
  <form mathod="POST">
  <input id="messageInput" name='book' type="text" placeholder="Message..." required="" />
  <button id="sendButton" onclick="handleclick()" type='submit'>
    <svg viewBox="0 0 664 663" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
        fill="none"
      ></path>
      <path
        d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
        stroke="#6c6c6c"
        stroke-width="33.67"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>
  </button>
  </form>
</div>
<div class="fetching_topics" id="fetching_topics"> 
  
</div>
  </div></section>
<div class="result">
          {% for card in books %}
            <div class="card">
              <img src='https://covers.openlibrary.org/b/id/{{ card[1] }}-M.jpg' class="image">
              <h3>{{card[0]}}</h3>

            </div>
        {% endfor %}
    </div>

  <script>
    function handleclick(){

            const newDiv = document.createElement('div');
            newDiv.className = 'topic';
            const paragraph = document.createElement("input")
            newDiv.appendChild(paragraph);
            paragraph.id = "para"
            paragraph.type = 'radio';

            const label = document.createElement('label')
            label.className = 'label'
            newDiv.appendChild(label)
            label.htmlFor = 'para';
            const choice = document.getElementById('messageInput').value
            label.textContent = choice;
            document.getElementById('fetching_topics').appendChild(newDiv);


    document.getElementById('messageInput').value = ""

    }  
  </script>
</body>
</html>
